/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Custom Scroll Bar CSS */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}


*::selection{
    color: #ffff;
    background-color: #4070f4;
}

body {
    overflow-x: hidden !important;
}

.logo {
    margin-top: -20px;
}


/* navbar styling */
.logo a{
    padding-bottom: 10px;
}
nav{
    position: fixed;
    width: 100%;
    height: 12%;
    padding: 20px 0;
    z-index: 998;
    transition: all 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}
nav.sticky{
    background: #4070f4;
    padding: 10px 0;
    height: 70px;
}
nav .navbar{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav .navbar .logo a{
    font-weight: 500;
    font-size: 35px;
    color: #4070f4;
    text-decoration: none;
}
nav.sticky .navbar .logo a{
    color: #fff;
}
nav .navbar .menu{
    display: flex;
    position: relative;
}
nav .navbar .menu li{
    list-style: none;
    margin: 0 8px;
}
.navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    color: #0E2431;
    padding: 6px 0;
    transition: all 0.4s ease;
    text-decoration: none;
}
.navbar .menu a:hover{
    color: #4070f4;
}
nav.sticky .menu a{
    color: #FFF;
}
nav.sticky .menu a:hover{
    color: #0E2431;
}

/*
#cv{
    font-size: 21px;
    text-decoration: none;
    color: white;
}*/
/*===============Snow effect==================*/
.snow-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
}

.snow {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #cce5ec;
    border-radius: 50%;
    pointer-events: none;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}
/*=================================*/

button {
    background-color: #4070F4FF;
    border: 1px solid #bc2a8d;
    padding: 5px;
    position: relative;
    width: 7.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
    text-decoration: none;
}

button p {
    /*position: absolute;*/
    top: 0.9em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #ffffff;
}

button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #4070f4
}

button:hover p {
    left: 0.6em;
    color: #4070f4
}

button:hover svg {
    opacity: 1;
}

button:hover {
    background-color: #ffffff;
}

.navbar .media-icons a{
    color: #4070f4;
    font-size: 18px;
    margin: 0 6px;
}
nav.sticky .media-icons a{
    color: #FFF;
}
.media-icons{
    margin-top: -20px ;

}
#hireButton{
    border-radius: 8px;
}
/* Side Navigation Menu Button CSS */
nav .menu-btn,
.navbar .menu .cancel-btn{
    position: absolute;
    color: #fff;
    right: 30px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: none;
}
nav .menu-btn{
    color: #4070f4;
}
nav.sticky .menu-btn{
    color: #FFF;
}
.navbar .menu .menu-btn{
    color: #fff;
}

/* home section styling */
#homeText{
    line-height: 60px;
}
.social-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.15);
    padding: 15px 10px;
    border-radius: 5em;
    position: absolute;
    background-attachment: fixed;
    bottom: 250px;
    left: 80px;
    width: 100%;

}


.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
}

.social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
    transition: 0.3s;
    height: 20px;
}

.facebook {
    background-color: #3b5998;
}

.facebook svg {
    fill: #f2f2f2;
}

.facebook:hover svg {
    fill: #3b5998;
}

.github {
    background-color: #333;
}

.github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
}

.github:hover svg {
    fill: #333;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin svg {
    fill: #f2f2f2;
}

.linkedin:hover svg {
    fill: #0077b5;
}

.instagram {
    background-color: #c13584;
}

.instagram svg {
    fill: #f2f2f2;
}

.instagram:hover svg {
    fill: #c13584;
}


.home{
    height: 100vh;
    width: 100vw;
    background: url("Images/background.gif") no-repeat;
    background-size: 40%;
    background-position:right;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.dd img{
    position: absolute;
    top: 34%;
    height:100px;
    width: 420px;
}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .text-one{
    font-size: 25px;
    color: #0E2431;
}
.home .text-two{
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .text-three{
    font-size: 40px;
    margin: 5px 0;
    color: #4070f4;
}
.home .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
}
.home .button{
    margin: 14px 0;
}
.home .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}
.home .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

/* About Section Styling */
/* Gallery tab*/
#about{
    height: 100vh;
    width: 100vw;
}
.about .left img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.gallery-tab-container {
    display: flex;
    justify-content: center;
}

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}   .gallery-tab-container {
        display: flex;
        justify-content: center;
    }

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}   .gallery-tab-container {
        display: flex;
        justify-content: center;
    }

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
            padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}   .gallery-tab-container {
        display: flex;
        justify-content: center;
    }

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}   .gallery-tab-container {
        display: flex;
        justify-content: center;
    }

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}   .gallery-tab-container {
        display: flex;
        justify-content: center;
    }

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}   .gallery-tab-container {
        display: flex;
        justify-content: center;
    }

.gallery-tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
}

.gallery-tab.active {
    background-color: #ccc;
}

.gallery-tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.gallery-tab-content.active {
    display: block;
}

.gallery-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
/**/
.tab-container {
    display: flex;
    justify-content: right;
    align-items: flex-start;

}

.tab {
    padding: 10px 20px;
    background-color: #f0f8ff;
    cursor: pointer;
}

.tab.active {
//background-color: #4070f4;
    color: #4070f4;
}

.tab-content {
    display: none;
    padding: 20px;
    background-color: #f9f9f9;
}

.tab-content.active {
    display: block;
}


.about{
    background-color: #F0F8FF;
    width: 100vw;
    height: 100vh;
}
section{
    padding-top: 40px;
}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: 'Poppins', sans-serif;

}
.about .about-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
section .title span{
    color: #0E2431;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #4070f4;
    left: 0;
    bottom: 0;
}
section .title span::after{
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}
.about .about-details .left{
    width: 45%;
}
.about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about-details .right{
    width: 55%;
}
section  .topic{
    color: #0E2431;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .right p{
    text-align: justify;
    color: #0E2431;
}
section .button{
    margin: 16px 0;
}
section .button button{
    outline: none;
    padding: 8px 6px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background: #4070f4;
    color: #fff;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}
section .button button:hover{
    border-color: #4070f4;
    background-color: #fff;
    color: #4070f4;
}

.wrapper {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
    transform: translateY(20px);
}
.card:hover:before {
    opacity: 1;
}
.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}
.card img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
}
.card .info {
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s;
}
.card .info h1 {
    margin: 0px;
}
.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
}
.card .info button {
    padding: 0.6rem;
    outline: none;
    border: none;
    border-radius: 3px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease;
}
.card .info button:hover {
    background: dodgerblue;
    color: white;
}
#cv a{
    font-size: 12px;
    width: 100px;
    height: 30px;
    border: 1px;
    border-bottom: 25px;
    color: white !important;
    text-decoration: none;
    margin-bottom: 10px;
}
#cv a:hover{
    color: #000000 !important;
}

/* My Skills CSS */
.skills {
    background: #ffffff url("Images/animation.gif") no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.skills .content{
    padding: 40px 0;
}
.skills .skills-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-details .text{
    width: 50%;
}
.skills-details p{
    color: #0E2431;
    text-align: justify;
}
.skills .skills-details .experience{
    display: flex;
    align-items: center;
    margin: 0 10px;
}
.skills-details .experience .num{
    color: #0E2431;
    font-size: 80px;
}
.skills-details .experience .exp{
    color: #0E2431;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    margin: 0 6px;
}
.skills-details .boxes{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skills-details .box{
    width: calc(100% / 2 - 20px);
    margin: 20px 0;
}
.skills-details .boxes .topic{
    font-size: 20px;
    color: #4070f4;
}
.skills-details .boxes .per{
    font-size: 60px;
    color: #4070f4;
}

/* My Services CSS */
.services{
    background: #F0F8FF;
    width: 100%;
    height: 100%;
}
.services .boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.services .boxes .box{
    margin: 15px 0;
    width: calc(100% / 3 - 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: #4070f4;
    color: #fff;
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: #4070f4;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.boxes .box:hover .icon{
    background-color: #fff;
    color: #4070f4;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: #0E2431;
    transition: all 0.4s ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
    color: #fff;
}


.projects {
    background: #fff url("Images/animation.gif");
    background-size: cover;
    width: 100vw;
    height: 100%;
}

.card-button {
    position: absolute;
    bottom: 45%;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 20px;

}

.card-button button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-button button:hover{
    background-color: #3059c7;
    color: #fff;

}


/* Contact Me CSS */
.contactText{
    font-size: 12px;
}
.contact{
    background: #F0F8FF;
    width: 100%;
    height: 100%;
}
.contact .content{
    margin: 0 auto;
    padding: 30px 0;
}
.contact .text{
    width: 80%;
    text-align: center;
    margin: auto;
}
.cicon-container {
    display: flex;
    justify-content: center;  /*Center horizontally*/
    align-items: center; /*Center vertically*/
}

.cicon {
    margin-right: 0vw; /* Add some spacing between icons */
    margin-top: 50px;
    text-align: center; /* Center the contents of each icon container */
    flex-basis: 33%; /* Set the width to one-third of the container */
    max-width: 33%; /* Limit the width to one-third of the container */
}

.cicon i {
    font-size: 50px; /* Adjust the icon size as desired */
    color: #4070F4FF; /* Adjust the icon color as desired */
}

.call, .address, .email {
    font-size: 25px;
    margin-top: 10px; /* Add some spacing between the names and icons */
}

.address-line, .email-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; /* Limit the width of the address and email lines */
}



/*get email*/
.form-group{
    width: 50vw;
    margin-left: 15vw;
}
form{
    margin-top: 0px;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

}

h1 {
    text-align: center;
}


.row {
    display: flex;
}

.col {
    flex: 1;
    margin-right: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    display: block;
    width: 50%;
    border: none;
    background-color: #4070F4FF;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button{
    width: 35vw;
    margin-left: 30vw;

}

/* Footer CSS */
footer{
    background: #4070f4;
    padding: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}
footer .text span a{
    font-weight: 500;
    color: #FFF;
}
footer .text span a:hover{
    text-decoration: underline;
}
/* Scroll TO Top Button CSS */
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #4070f4;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}




/* Responsive Media Query */
@media (max-width: 1190px) {
    section .content{
        width: 85%;
    }
}
@media (max-width: 1000px) {
    .home{
        height: 100vh;
        width: 100vw;
        background-size: 60%;
        background-position: center 120px; /* Adjust the value to move the image down */
        background-attachment:revert;
        font-family: 'Ubuntu', sans-serif;
    }
    .about .about-details{
        justify-content: center;
        flex-direction: column;
    }
    .about .about-details .left{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-details .right{
        width: 90%;
        margin: 40px 0;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: calc(100% / 2 - 20px);
    }
    .about{
        padding-top: 10px;
    }
}
@media (max-width: 900px) {
    .about .left img{
        height: 350px;
        width: 350px;
    }
    .about{
        padding-top: 5px;
    }
    .services{
        padding-top: 10px;
        height: 100%;
    }
    .form-group{
        margin-left: 15vw;
        width: 500px;
    }
}

@media (max-width: 750px) {
    .home{
        height: 100vh;
        width: 100vw;
        background-size: 50%;
        background-position: center 100px; /* Adjust the value to move the image down */
        background-attachment: fixed;
        font-family: 'Ubuntu', sans-serif;
    }
    nav .navbar{
        width: 90%;
    }
    nav .navbar .menu{
        position: fixed;
        right: -100%;
        top: 0;
        background: #4070f4;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        padding-top: 60px;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease;
    }
    .navbar.active .menu{
        right: 0;
    }
    nav .navbar .menu a{
        font-size: 23px;
        display: block;
        color: #fff;
        margin: 10px 0;
    }
    nav.sticky .menu a:hover{
        color: #4070f4;
    }
    nav .navbar .media-icons{
        display: none;
    }
    nav .menu-btn,
    .navbar .menu .cancel-btn{
        display: block;
    }
    .home .text-two{
        font-size: 65px;
    }
    .home .text-three{
        font-size: 35px;
    }
    .skills .skills-details{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .skills-details .text{
        width: 100%;
        margin-bottom: 50px;
    }
    .skills-details .boxes{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .services .boxes .box{
        margin: 20px 0;
        width: 100%;
    }
    .contact .text{
        width: 100%;
    }
    .about{
        padding-top: 0.01px;
    }
    .skills{
        padding-top: 0px;
    }
    .services{
        height: 100%;
    }
}



@media (max-width: 500px){
    .home{
        height: 100vh;
        width: 100vw;
        background-size: 60%;
        background-position: center 120px; /* Adjust the value to move the image down */
        background-attachment:revert;
        font-family: 'Ubuntu', sans-serif;
    }
    .home .text-two{
        font-size: 55px;
    }
    .home .text-three{
        font-size: 33px;
    }
    .skills-details .boxes .per{
        font-size: 50px;
        color: #4070f4;
    }
    .about{
        padding-top: 0px;
        font-size: 12px;
    }
    .skills{
        font-size: 10px;
        padding-top: 0px;
    }
    .about .left img{
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 12px;
    }
    .button{
        font-size: 8px;
        height: 10px;
    }
    .dd img{
        position: absolute;
        top: 34%;
        height:100px;
        width: 80%;
    }
    .cicon{
        font-size: 8px;
    }
    .form-group{
       margin-left: 0px;
        width: 350px;
    }
}
